In [3]:
%pip install pandas

Collecting pandas
  Using cached pandas-3.0.1-cp312-cp312-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.26.0 (from pandas)
  Using cached numpy-2.4.2-cp312-cp312-win_amd64.whl.metadata (6.6 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\REVATURE\Project-1_SCIS\.venv\Lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: tzdata in d:\REVATURE\Project-1_SCIS\.venv\Lib\site-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in d:\REVATURE\Project-1_SCIS\.venv\Lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Using cached pandas-3.0.1-cp312-cp312-win_amd64.whl (9.7 MB)
Using cached numpy-2.4.2-cp312-cp312-win_amd64.whl (12.3 MB)
Installing collected packages: numpy, pandas

   ---------------------------------------- 0/2 [numpy]
   ---------------------------------------- 0/2 [numpy]
   ---------------------------------------- 0/2 [numpy]
   ---------------------------------------- 0/2 [numpy]
   ---------------------------------------- 0/2 [numpy]
   ---------------------------------------- 0/2 [numpy]
   ---------------------------------------- 0/2 [numpy]
   ---------------------------------------- 0/2 [numpy]
   ---------------------------------------- 0/2 [numpy]

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not install packages due to an OSError: [WinError 32] The process cannot access the file because it is being used by another process: 'd:\\REVATURE\\Project-1_SCIS\\.venv\\Lib\\site-packages\\numpy\\_core\\tests\\test_extint128.py'
Check the permissions.

In [11]:
import pandas as pd

df = pd.read_csv("D:/REVATURE/Project-1_SCIS/data/raw/superstore_raw.csv",encoding="latin1")

print("Shape:", df.shape)
print("\nColumns:")
print(df.columns)
df.head()

Shape: (9994, 21)

Columns:
Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='str')

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [8]:
import os
print(os.path.exists(r"D:\REVATURE\Project-1_SCIS\data\raw\superstore_raw.csv"))

True

In [ ]:
# Data Profiling
# info(): a concise summary of a DataFrame's structure and metadata
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   str
 2   Order Date     9994 non-null   str
 3   Ship Date      9994 non-null   str
 4   Ship Mode      9994 non-null   str
 5   Customer ID    9994 non-null   str
 6   Customer Name  9994 non-null   str
 7   Segment        9994 non-null   str
 8   Country        9994 non-null   str
 9   City           9994 non-null   str
 10  State          9994 non-null   str
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   str
 13  Product ID     9994 non-null   str
 14  Category       9994 non-null   str
 15  Sub-Category   9994 non-null   str
 16  Product Name   9994 non-null   str
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: float64(3), int64(3), str(15)
memory usage: 1.6 MB

In [ ]:

df.isnull().sum()

Row ID           0
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
Quantity         0
Discount         0
Profit           0
dtype: int64

In [ ]:
# dataset description: descriptive statistics
df.describe()

,Row ID,Postal Code,Sales,Quantity,Discount,Profit
count,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000
mean,4997.500000,55190.379428,229.858001,3.789574,0.156203,28.656896
std,2885.163629,32063.693350,623.245101,2.225110,0.206452,234.260108
min,1.000000,1040.000000,0.444000,1.000000,0.000000,-6599.978000
25%,2499.250000,23223.000000,17.280000,2.000000,0.000000,1.728750
50%,4997.500000,56430.500000,54.490000,3.000000,0.200000,8.666500
75%,7495.750000,90008.000000,209.940000,5.000000,0.200000,29.364000
max,9994.000000,99301.000000,22638.480000,14.000000,0.800000,8399.976000

In [ ]:
# df['Order Date'].head()  # [11/8/2016 ,  11/8/2016]
df['Ship Date'].head()      #[11/11/201; 6/16/2016]

0    11/11/2016
1    11/11/2016
2     6/16/2016
3    10/18/2015
4    10/18/2015
Name: Ship Date, dtype: str

In [21]:
# Converting dates into correct format
df['Order Date'] = pd.to_datetime(df['Order Date'])
df['Ship Date'] = pd.to_datetime(df['Ship Date'])

In [ ]:
df['Order Date'].head()  # [Transformed to: 2016-06-12; 2015-10-11]
# df['Ship Date'].head()

0   2016-11-08
1   2016-11-08
2   2016-06-12
3   2015-10-11
4   2015-10-11
Name: Order Date, dtype: datetime64[us]

In [61]:
# Key Performance Indicator(KPI)-1
# Calculating metric-1: 
# Lead Time(LT) = ship_date - order_date   The total no.of days btw ship and order dates

df['Lead_Time_Days'] = (df['Ship Date'] - df['Order Date']).dt.days
df['Lead_Time_Days'].describe()
print(df['Lead_Time_Days'].head())

KeyError: 'Ship Date'

In [30]:
# Saving the Cleaned file to processed folder
df.to_csv("D:/REVATURE/Project-1_SCIS/data/processed/superstore_cleaned.csv", index=False)

In [31]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   str
 2   Order Date     9994 non-null   datetime64[us]
 3   Ship Date      9994 non-null   datetime64[us]
 4   Ship Mode      9994 non-null   str
 5   Customer ID    9994 non-null   str
 6   Customer Name  9994 non-null   str
 7   Segment        9994 non-null   str
 8   Country        9994 non-null   str
 9   City           9994 non-null   str
 10  State          9994 non-null   str
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   str
 13  Product ID     9994 non-null   str
 14  Category       9994 non-null   str
 15  Sub-Category   9994 non-null   str
 16  Product Name   9994 non-null   str
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
 21  Lead_Time      9994 non-null   int64
dtypes: datetime64[us](2), float64(3), int64(4), str(13)
memory usage: 1.7 MB

In [33]:
df.shape

(9994, 22)

### Step-3: Verifying the Cleaned/transformed fakestore api data

In [35]:
import pandas as pd

df = pd.read_csv("D:/REVATURE/Project-1_SCIS/data/processed/fakestore_products_cleaned.csv")
print(df.columns)
print(df.head())

Index(['api_product_id', 'product_title', 'product_price', 'description',
       'category', 'image', 'rating_rate', 'rating_count'],
      dtype='str')
   api_product_id                                      product_title  \
0               1  Fjallraven - Foldsack No. 1 Backpack, Fits 15 ...
1               2             Mens Casual Premium Slim Fit T-Shirts
2               3                                 Mens Cotton Jacket
3               4                               Mens Casual Slim Fit
4               5  John Hardy Women's Legends Naga Gold & Silver ...

   product_price                                        description  \
0         109.95  Your perfect pack for everyday use and walks i...
1          22.30  Slim-fitting style, contrast raglan long sleev...
2          55.99  great outerwear jackets for Spring/Autumn/Wint...
3          15.99  The color could be slightly different between ...
4         695.00  From our Legends Collection, the Naga was insp...

         category                                              image  \
0  men's clothing  https://fakestoreapi.com/img/81fPKd-2AYL._AC_S...
1  men's clothing  https://fakestoreapi.com/img/71-3HjGNDUL._AC_S...
2  men's clothing  https://fakestoreapi.com/img/71li-ujtlUL._AC_U...
3  men's clothing  https://fakestoreapi.com/img/71YXzeOuslL._AC_U...
4        jewelery  https://fakestoreapi.com/img/71pWzhdJNwL._AC_U...

   rating_rate  rating_count
0          3.9           120
1          4.1           259
2          4.7           500
3          2.1           430
4          4.6           400

In [37]:
# Validating
import pandas as pd

fact = pd.read_csv("D:/REVATURE/Project-1_SCIS/data/processed/fact_orders.csv")

print(fact.shape)
print(fact.isnull().sum())

(10331, 11)
order_key       0
order_id        0
date_key        0
customer_key    0
location_key    0
product_key     0
sales           0
quantity        0
discount        0
profit          0
lead_time       0
dtype: int64

In [38]:
# Checking for duplicates in DIM tables
dim_customer = pd.read_csv("D:/REVATURE/Project-1_SCIS/data/processed/customer_dim.csv")

print(dim_customer['customer_id'].duplicated().sum())

0

In [40]:
# Checking for duplicates in DIM tables
dim_product = pd.read_csv("D:/REVATURE/Project-1_SCIS/data/processed/product_dim.csv")

print(dim_product['product_id'].duplicated().sum())

32

In [41]:
dim_date = pd.read_csv("D:/REVATURE/Project-1_SCIS/data/processed/date_dim.csv")

print(dim_date['full_date'].duplicated().sum())

0

In [42]:
dim_location = pd.read_csv("D:/REVATURE/Project-1_SCIS/data/processed/location_dim.csv")

print(dim_location.duplicated(subset=['country','state','city','region']).sum())

0

In [44]:
dim_product = pd.read_csv("D:/REVATURE/Project-1_SCIS/data/processed/product_dim.csv")
print(dim_product['product_id'].duplicated().sum())

32

In [45]:
df_super = pd.read_csv("D:/REVATURE/Project-1_SCIS/data/processed/superstore_cleaned.csv")

print("Total rows:", len(df_super))
print("Unique Product IDs:", df_super['Product ID'].nunique())

Total rows: 9994
Unique Product IDs: 1862

In [46]:
dup = df_super['Product ID'].value_counts()
dup = dup[dup > 1]

print("Products appearing multiple times:", len(dup))
print(dup.head())

Products appearing multiple times: 1771
Product ID
OFF-PA-10001970    19
TEC-AC-10003832    18
FUR-FU-10004270    16
FUR-CH-10001146    15
TEC-AC-10003628    15
Name: count, dtype: int64

In [48]:
print(dim_product['product_id'].duplicated().sum())

32

In [49]:
df_super['Product ID'] = df_super['Product ID'].str.strip()
df_super['Product ID'] = df_super['Product ID'].str.upper()

In [50]:
product_dim = pd.read_csv("D:/REVATURE/Project-1_SCIS/data/processed/product_dim.csv")

print(product_dim['product_id'].duplicated().sum())

0

In [55]:
fact = pd.read_csv("D:/REVATURE/Project-1_SCIS/data/processed/fact_orders.csv")
print(fact.shape)

(9994, 11)

In [53]:
print(df_super['Product ID'].nunique())

1862

In [ ]:
product_dim = pd.read_csv("D:/REVATURE/Project-1_SCIS/data/processed/product_dim.csv")

print("Rows:", len(product_dim))
print("Unique product_id:", product_dim['product_id'].nunique())
print("Duplicate count:", product_dim['product_id'].duplicated().sum())

Rows: 1862
Unique product_id: 1862
Duplicate count: 0

In [59]:
import pandas as pd

df = pd.read_csv("D:/REVATURE/Project-1_SCIS/data/processed/fact_orders.csv")
print(df.columns)

Index(['order_key', 'order_id', 'date_key', 'customer_key', 'location_key',
       'product_key', 'sales', 'quantity', 'discount', 'profit', 'lead_time'],
      dtype='str')

In [60]:
fact_orders.rename(columns={
    'lead_time': 'lead_time_days'
})

NameError: name 'fact_orders' is not defined

In [62]:
import pandas as pd

df = pd.read_csv("D:/REVATURE/Project-1_SCIS/data/processed/fact_orders.csv")
print(df.columns)

Index(['order_key', 'order_id', 'date_key', 'customer_key', 'location_key',
       'product_key', 'sales', 'quantity', 'discount', 'profit', 'lead_time'],
      dtype='str')

In [64]:

df = pd.read_csv("D:/REVATURE/Project-1_SCIS/data/processed/superstore_cleaned.csv")
print(df.columns)

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit', 'Lead_Time'],
      dtype='str')

In [66]:

df = pd.read_csv("D:/REVATURE/Project-1_SCIS/data/processed/fact_orders.csv")
print(df.columns)

Index(['order_key', 'order_id', 'date_key', 'customer_key', 'location_key',
       'product_key', 'sales', 'quantity', 'discount', 'profit', 'lead_time'],
      dtype='str')

In [67]:
import pandas as pd
df = pd.read_csv("D:/REVATURE/Project-1_SCIS/data/processed/fact_orders.csv")
print(df.columns)

Index(['order_key', 'order_id', 'date_key', 'customer_key', 'location_key',
       'product_key', 'sales', 'quantity', 'discount', 'profit',
       'lead_time_days'],
      dtype='str')

In [70]:
df = pd.read_csv("D:/REVATURE/Project-1_SCIS/data/processed/fact_orders.csv")
print(df.columns)

Index(['order_key', 'order_id', 'order_date', 'date_key', 'customer_key',
       'location_key', 'product_key', 'sales', 'quantity', 'discount',
       'profit', 'lead_time_days'],
      dtype='str')

In [2]:
import pandas as pd
df = pd.read_csv("D:/REVATURE/Project-1_SCIS/data/processed/fact_orders.csv")
print(len(df))
print(df.head)

9994
<bound method NDFrame.head of       order_key        order_id  order_date  date_key  customer_key  \
0             1  CA-2016-152156  2016-11-08       865           144
1             2  CA-2016-152156  2016-11-08       865           144
2             3  CA-2016-138688  2016-06-12       733           238
3             4  US-2015-108966  2015-10-11       520           706
4             5  US-2015-108966  2015-10-11       520           706
...         ...             ...         ...       ...           ...
9989       9990  CA-2014-110422  2014-01-21        16           738
9990       9991  CA-2017-121258  2017-02-26       957           191
9991       9992  CA-2017-121258  2017-02-26       957           191
9992       9993  CA-2017-121258  2017-02-26       957           191
9993       9994  CA-2017-119914  2017-05-04      1017           131

      location_key  product_key     sales  quantity  discount    profit  \
0              259           13  261.9600         2      0.00   41.9136
1              259           56  731.9400         3      0.00  219.5820
2               64          947   14.6200         2      0.00    6.8714
3              150          320  957.5775         5      0.45 -383.0310
4              150         1317   22.3680         2      0.20    2.5164
...            ...          ...       ...       ...       ...       ...
9989           160          201   25.2480         3      0.20    4.1028
9990            43          165   91.9600         2      0.00   15.6332
9991            43         1817  258.5760         2      0.20   19.3932
9992            43         1248   29.6000         4      0.00   13.3200
9993           108          434  243.1600         2      0.00   72.9480

      lead_time_days
0                  3
1                  3
2                  4
3                  7
4                  7
...              ...
9989               2
9990               5
9991               5
9992               5
9993               5

[9994 rows x 12 columns]>

In [3]:
df = pd.read_csv("D:/REVATURE/Project-1_SCIS/data/processed/fact_orders.csv")
print(df['order_date'].isna().sum())

0